html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Montserrat;
}

.nav-title {
  font-weight: 900;
}

.my-nav-link {
  font-weight: 500;
}

.hero-name {
  font-size: 50px;
  font-weight: 900;
  color: #DF7A84;
}

.my-btn-primary {
  color: white;
  background-color: #DF7A84;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 1.5rem;
  font-size: 1rem;
  border-radius: 1.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.my-btn-primary:hover {
  background-color: #F3E4D5;
  color: gray;
}

.my-btn-secondary {
  color: white;
  background-color: #E5C6AA;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 1.5rem;
  font-size: 1rem;
  border-radius: 1.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.my-btn-secondary:hover {
  color: black;
}

.border-one {
  border-left: 2px solid #DF7A84;
  height: 120px;
}

.search-bar {
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  border: 1px solid #DF7A84;
  padding: 0.375rem 1.5rem;
  font-size: 1rem;
  border-radius: 1.9rem;
  width: 60%;
}

.filter-bar {
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  border: 1px solid #EE6900;
  padding: 0.375rem 1.5rem;
  font-size: 1rem;
  border-radius: 1.9rem;
  width: 60%;
}