@{
    ViewData["Title"] = "No Results Found";
}

<div class="d-flex justify-content-center align-items-center" style="height: 540px;">
    <img class="img" style="border-radius: 20px;" src="~/Assets/12bb80dc4852cab654f4ea52b42ef3dc.jpg">
</div>